Repository ivancea/autostocklist, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, database, server, web, docker

Add labeled event to labeler
  .github/workflows/labeler.yml
Labels: workflows

Create LICENSE
  LICENSE
Labels: none

Add license and cargo deny
  server/Cargo.toml
  server/deny.toml
Labels: server

[#14] Reorganized frontend
  web/src/api.tsx
  web/src/components/App/App.tsx
  web/src/components/ItemsListPage/ItemsList/ItemsList.tsx
  web/src/components/ItemsListPage/ItemsListPage.tsx
  web/src/components/ItemsListPage/actions/AddStock.tsx
  web/src/components/ItemsListPage/actions/RemoveStock.tsx
  web/src/components/ItemsListPage/contexts/itemsContext.tsx
Labels: web

[#14] Add and edit items
  server/src/database/error.rs
  server/src/database/item.rs
  server/src/http_configuration/item_endpoints.rs
  server/src/services/item_service.rs
  web/package-lock.json
  web/package.json
  web/src/api.tsx
  web/src/components/ItemsListPage/ItemsList/ItemsList.tsx
Labels: server, web

Update Rust version to 1.56, 2021, and oupdate all dependencies
  server/Cargo.lock
  server/Cargo.toml
  server/src/database.rs
  server/src/database/error.rs
Labels: server

Added /** to workflows
  .github/workflows/server-validation.yml
  .github/workflows/web-validation.yml
Labels: workflows

Add /** to remaining triggers
  .github/workflows/server-validation.yml
  .github/workflows/web-validation.yml
Labels: workflows

Add providers to App test
  web/src/components/App/App.test.tsx
Labels: web

Remove ./ from triggers
  .github/workflows/server-validation.yml
  .github/workflows/web-validation.yml
Labels: workflows

Little change to test workflows
  web/src/components/App/App.test.tsx
Labels: web

Implement items removal
  database/scripts/01_create_stock_database.sql
  server/Cargo.lock
  server/Cargo.toml
  server/src/database/item.rs
  server/src/http_configuration/item_endpoints.rs
  server/src/services/item_service.rs
  web/src/api.tsx
  web/src/components/ItemsListPage/ItemsList/ItemsList.tsx
  web/src/components/ItemsListPage/actions/AddStock.tsx
  web/src/components/ItemsListPage/actions/RemoveItem.tsx
  web/src/components/ItemsListPage/actions/RemoveStock.tsx
Labels: database, server, web

Fix delete endpoint not returning JSON
  web/src/api.tsx
Labels: web

[#17] Fixed item edition on enter
  web/package-lock.json
  web/package.json
  web/src/components/ItemsListPage/ItemsList/ItemsList.tsx
Labels: web

Fix max stock to remove item column
  web/src/components/ItemsListPage/ItemsList/ItemsList.tsx
Labels: web

Add weekday seasonal forecasting endpoints
  server/Cargo.toml
  server/src/database.rs
  server/src/database/forecast.rs
  server/src/dtos.rs
  server/src/dtos/forecast_dtos.rs
  server/src/http_configuration.rs
  server/src/http_configuration/forecast_endpoints.rs
  server/src/main.rs
  server/src/services.rs
  server/src/services/forecast_service.rs
Labels: server

Add unit and integration tests for forecasting
  server/Cargo.lock
  server/Cargo.toml
  server/src/database/forecast.rs
  server/src/services/forecast_service.rs
Labels: server

Fix testcontainers integration test
  server/src/database/forecast.rs
Labels: server

Skip integration test when Docker unavailable
  server/src/database/forecast.rs
Labels: server

Update cargo dependencies
  server/Cargo.lock
Labels: server

Pin time crate for Cargo 1.82
  server/Cargo.lock
Labels: server

Downgrade time crate to avoid edition2024
  server/Cargo.lock
Labels: server

Pin url/idna to avoid newer rustc
  server/Cargo.lock
Labels: server

Upgrade Rust toolchain to 1.93
  rust-toolchain.toml
  server/Cargo.toml
Labels: server

Refresh dependencies for Rust 1.93
  server/Cargo.lock
Labels: server

.github/labeler.yml:

workflows:
  - .github/workflows/**

database:
  - database/**/*

server:
  - server/**/*

web:
  - web/**/*

docker:
  - "**/Dockerfile"
  - "**/docker-compose*.yml"
